@define-color background #232526;
@define-color border #689C6A;
@define-color blue #82A497;
@define-color wa #82A497;
@define-color w #3E3B39;
@define-color a #689C6A;
@define-color wi #EADAB1;
@define-color bl #FABC33;
@define-color pu #CB2923;
@define-color c #689C6A;
