@define-color background #272B3F;
@define-color border #565F89;
@define-color blue #7DCFFF;
@define-color wa #BB9AF7;
@define-color w #4C5479;
@define-color a #7880C1;
@define-color wi #7AA2F7;
@define-color bl #E0AF68;
@define-color pu #F7768E;
@define-color c #646FA4;
