@define-color background #161622;
@define-color border #94ACC5;
@define-color blue #A0D7DB;
@define-color wa #B6C7C5;
@define-color w #E4DACF;
@define-color a #cba6f7;
@define-color wi #f5c2e7;
@define-color bl #f9e2af;
@define-color pu #f38ba8;
@define-color c #a6e3a1;
